{% extends "master.html" %}

{% block content %}
    <div class="row">
    <h1>Tasks</h1>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Code</th>
                    <th scope="col">Subject</th>
                    <th scope="col">Due Date</th>
                    <th scope="col">Progress</th>
                    <th scope="col">Priority</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                {% for item in query.items %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td><a href="#">{{ item.code }}</a></td>
                    <td>{{ item.subject }}</td>
                    <td>{{ item.due_date.strftime('%Y-%m-%d') if item.due_date else '' }}</td>
                    <td>{{ item.progress }}</td>
                    <td>{{ item.priority }}</td>
                    <td>{{ item.status }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="mt-3">
            <a href="{{ url_for('task_new') }}" class="btn btn-primary float-end">
                <i class="bi bi-plus-circle"></i> Create New
            </a>
        </div>
    </div>
{% endblock %}